<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <style>
        body {
            padding-top: 50px;
        }

        #mysidebar {
            background-color: #f5f5f5;
            padding: 20px;
            position: fixed;
            top: 50px;
            bottom: 0;
        }

        #mytable {
            padding: 20px;
        }
        .panel{
            margin-top: 50px;
        }
    </style>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <!--    导航条 start-->
    <div class="row">
        <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <!--    导航条 end-->
    <div class="row">
        <!--    左侧下拉框-->
        <div id="mysidebar" class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% block links %}
                {% endblock %}
            </ul>
        </div>
        <!--    左侧下拉框-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!--            页头-->
            <!--            页尾-->
            <!--            面板-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{% block panel_title %}{% endblock %}</h3>
                </div>
                <div class="panel-body">
                    <!--                    输入框-->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                      <button class="btn btn-default" type="button">搜索</button>
                                  </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                        <div class="col-lg-8">
                            <button class="btn btn-success pull-right " type="button" data-toggle="modal"
                                    data-target="#myModal">添加
                            </button>
                        </div>
                        <!--                    输入框-->
                        <hr>
                        <div id="mytable">
                        {% block mytable %}
                        {% endblock %}
                            <nav aria-label="Page navigation" class="navbar-right">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!--            面板-->
            </div>
            <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{% block form_modal_title%}{% endblock %}</h4>
                        </div>
                        <div class="modal-body">
                        {% block form_modal%}
                        {% endblock %}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>
<script src="/static/jquery-3.4.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% block js %}{% endblock %}
</body>
</html>