{% extends 'list.html' %}
{% block links %}
    <li class="list-group-item-info active"><a class="active" href="{% url 'publisher_list' %}">出版社列表</a></li>
    <li><a href="{% url 'add_publisher' %}">添加出版社</a></li>
    <li><a href="{% url 'book_list' %}">书籍列表</a></li>
    <li><a href="{% url 'add_book' %}">添加书籍</a></li>
    <li><a href="{% url 'author_list' %}">作者列表</a></li>
    <li><a href="{% url 'add_author' %}">添加作者</a></li>
{% endblock %}
{% block panel_title %}出版社列表{% endblock %}
{% block mytable %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>出版社</th>
            <th>地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for publisher in publisher_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ publisher.id }}</td>
                <td>{{ publisher.name }}</td>
                <td>{{ publisher.addr }}</td>
                <td><a class="btn btn-danger" href="{% url 'delete_publisher' publisher.id %}">删除</a>
                    <a class="btn btn-success" href="{% url 'edit_publisher' publisher.id %}">编辑</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block form_modal_title %}添加出版社{% endblock %}
{% block form_modal %}
    <form class="form-horizontal" action="{% url 'add_publisher' %}" method="post">
        <div class="form-group">
            <label for="publisher" class="col-sm-3 control-label">出版社</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="publisher" name="publisher" placeholder="出版社">
            </div>
        </div>
        <div class="form-group">
            <label for="addr" class="col-sm-3 control-label">地址</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="addr" name="addr" placeholder="地址">
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">提交</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </form>
{% endblock %}