*{
    margin: 0;
    padding: 0;
}
/*left*/
.left li,
.left span{
    list-style-type: none;
    float: left;
}

.right li,
.right span{
    list-style-type: none;
    float: right;
}
.left span,
.right span{
    padding: 0 6px;
    color: #424242;
}
.clearfix:after,
.claerfix:before{
    content: "";
    clear: both;
    /*设置该项将该元素变成块级标签，使父标签撑满*/
    display: block;
}
.nav-son{
    width: 80%;
    margin: 0 auto;
}
.nav{
    background: #333333;
    width: 100%;
    padding: 8px 0;
    position: fixed;
    top: 0;
}
.left a,.right a{
    text-decoration: none;
    font-size: 13px;
    color: #898989;
}
/*伪类使鼠标放在标签上变色*/
.left a:hover,
.right a:hover{
    color: white;
}

