{% extends 'list.html' %}
{% block links %}
    {# 反向解析url #}
    <li><a href="{% url 'publisher_list' %}">出版社列表</a></li>
    <li><a href="{% url 'add_publisher' %}">添加出版社</a></li>
    <li class="list-group-item-info active"><a class="active" href="{% url 'book_list' %}">书籍列表</a></li>
    <li><a href="{% url 'add_book' %}">添加书籍</a></li>
    <li><a href="{% url 'author_list' %}">作者列表</a></li>
    <li><a href="{% url 'add_author' %}">添加作者</a></li>
{% endblock %}
{% block panel_title %}书籍列表{% endblock %}
{% block mytable %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>书名</th>
            <th>出版社</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for book in all_book_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.publisher.name }}</td>
                <td><a class="btn btn-danger" href="{% url 'delete_book' book.id %}">删除</a>
                    <a class="btn btn-success" href="{% url 'edit_book' book.id %}">编辑</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block form_modal_title %}添加书籍{% endblock %}
{% block form_modal %}
    <form class="form-horizontal" action="{% url 'add_book' %}" method="post">
        <div class="form-group">
            <label for="book_title" class="col-sm-3 control-label">书名</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="book_title" name="book_title" placeholder="书名">
            </div>
        </div>
        <div class="form-group">
            <label for="publisher" class="col-sm-3 control-label" name="publisher">出版社</label>
            <div class="col-sm-9">
                <select class="form-control" id="publisher" name="publisher">
                    {% for p in all_publisher_list %}
                        <option value="{{ p.id }}">{{ p.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">提交</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </form>
{% endblock %}
