{% extends 'add.html' %}
{% block title %}编辑书本{% endblock %}
{% block page %}
    <div class="panel panel-default ">
        <div class="panel-heading">编辑书本</div>
        <div class="panel-body">
            <form action="{% url 'edit_book' book_obj.id %}" method="post">
                <input type="hidden" name="id" value="{{ book_obj.id }}">
                <div class="form-group">
                    <label for="title">书名：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="书名"
                           value="{{ book_obj.title }}">
                </div>
                <div class="form-group">
                    <label for="publisher">出版社：</label>
                    <select name="publisher" class="form-control" id="publisher">
                        {% for p in publisher %}
                            {% if book.publisher.id == p.id %}
                                <option selected value="{{ p.id }}">{{ p.name }}</option>
                            {% else %}
                                <option value="{{ p.id }}">{{ p.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">提交</button>
            </form>
        </div>
    </div>
{% endblock %}
