{% extends 'list.html' %}
{% block title %}作者列表{% endblock %}
{% block links %}
    <li><a href="{% url 'publisher_list' %}">出版社列表</a></li>
    <li><a href="{% url 'add_publisher' %}">添加出版社</a></li>
    <li><a href="{% url 'book_list' %}">书籍列表</a></li>
    <li><a href="{% url 'add_book' %}">添加书籍</a></li>
    <li class="list-group-item-info active"><a class="active" href="{% url 'author_list' %}">作者列表</a></li>
    <li><a href="{% url 'add_author' %}">添加作者</a></li>
{% endblock %}
{% block panel_title %}作者列表{% endblock %}
{% block mytable %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>作者</th>
            <th>书籍</th>
            <th>爱好</th>
            <th>地址</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for author in author_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>
                    {% for book in  author.book.all %}
                        {% if forloop.last %}
                            {{ book.title }}
                        {% else %}
                            {{ book.title }},
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ author.detail.hobby }}
                </td>
                <td>
                    {{ author.detail.addr }}
                </td>
                <td>{# <a class="btn btn-danger"#}
                    {#                       href="{% url 'delete_author' author.id %}">删除</a>#}
                    <button class="btn btn-danger del">删除</button>
                    <a class="btn btn-success"
                       href="{% url 'edit_author' author.id %}">编辑</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block form_modal_title %}添加作者{% endblock %}
{% block form_modal %}
    <form class="form-horizontal" action="{% url 'add_author' %}" method="post">
        <div class="form-group">
            <label for="author_name" class="col-sm-3 control-label">作者</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="author_name" name="author_name"
                       placeholder="书名">
            </div>
        </div>
        <div class="form-group">
            <label for="books" class="col-sm-3 control-label">书籍</label>
            <div class="col-sm-9">
                <select multiple class="form-control" id="books" name="books">
                    {% for book in book_list %}
                        <option value="{{ book.id }}">{{ book.title }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="hobby" class="col-sm-3 control-label">爱好：</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="hobby" name="hobby" placeholder="爱好">
            </div>
        </div>
        <div class="form-group">
            <label for="addr" class="col-sm-3 control-label">地址：</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="addr" name="addr" placeholder="地址">
            </div>
        </div>
        <button type="submit" class="btn btn-primary pull-right">提交</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    </form>
{% endblock %}
{% block js %}
    <script src="https://cdn.bootcss.com/sweetalert/2.1.2/sweetalert.min.js"></script>
    <script>
        $('.del').on('click', function () {
            var $tEle = $(this).parent().parent();
            var id = $(this).parent().parent().children().eq(1).text();
            swal({
                title: "你确定要删除?",
                text: "删除后数据将不存在!",
                icon: "warning",
                buttons: true,
                dangerMode: true
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: '{% url 'delete_author' %}',
                            type: 'post',
                            data: {"id": id, "csrfmiddlewaretoken": $("[name = 'csrfmiddlewaretoken']").val()},
                            success: function (arg) {
                                if(arg==='删除成功'){
                                    swal(arg, {
                                    icon: "success",
                                });
                                $tEle.remove();
                                }else{
                                    swal(arg, {
                                    icon: "warning",
                                    button: "yes",
                                });
                                }
                            }
                        });
                    } else {
                        swal("成功取消!");
                    }
                });
        })
    </script>
{% endblock %}